In [1]:
import pymongo

In [2]:
dbconn = pymongo.MongoClient("mongodb+srv://adivarpe:akshu#1345@cluster0.aqutadm.mongodb.net/")

In [3]:
# task is  dumb dataframe to mongodb atlas

In [5]:
# lets make database 
dbname = "addmisson"

db = dbconn[dbname]

In [6]:
# make colletion 
collection_name = "details"

collection =  db[collection_name]

In [7]:
# lets load datframe 
import pandas as pd

In [8]:
url = "https://raw.githubusercontent.com/vigneshk/Admission-Dataset/master/Admission.csv"
df = pd.read_csv(url)

In [11]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [12]:
data_dict = df.to_dict(orient="records")
collection.insert_many(data_dict)

In [14]:
result = collection.find({}).limit(20)
for i in result:
    print(i)

{'_id': ObjectId('64e333923af1d4d84814adb7'), 'Serial No.': 1, 'GRE Score': 337, 'TOEFL Score': 118, 'University Rating': 4, 'SOP': 4.5, 'LOR ': 4.5, 'CGPA': 9.65, 'Research': 1, 'Chance of Admit ': 0.92}
{'_id': ObjectId('64e333923af1d4d84814adb8'), 'Serial No.': 2, 'GRE Score': 324, 'TOEFL Score': 107, 'University Rating': 4, 'SOP': 4.0, 'LOR ': 4.5, 'CGPA': 8.87, 'Research': 1, 'Chance of Admit ': 0.76}
{'_id': ObjectId('64e333923af1d4d84814adb9'), 'Serial No.': 3, 'GRE Score': 316, 'TOEFL Score': 104, 'University Rating': 3, 'SOP': 3.0, 'LOR ': 3.5, 'CGPA': 8.0, 'Research': 1, 'Chance of Admit ': 0.72}
{'_id': ObjectId('64e333923af1d4d84814adba'), 'Serial No.': 4, 'GRE Score': 322, 'TOEFL Score': 110, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 2.5, 'CGPA': 8.67, 'Research': 1, 'Chance of Admit ': 0.8}
{'_id': ObjectId('64e333923af1d4d84814adbb'), 'Serial No.': 5, 'GRE Score': 314, 'TOEFL Score': 103, 'University Rating': 2, 'SOP': 2.0, 'LOR ': 3.0, 'CGPA': 8.21, 'Research': 0, 'Chance of Admit ': 0.65}
{'_id': ObjectId('64e333923af1d4d84814adbc'), 'Serial No.': 6, 'GRE Score': 330, 'TOEFL Score': 115, 'University Rating': 5, 'SOP': 4.5, 'LOR ': 3.0, 'CGPA': 9.34, 'Research': 1, 'Chance of Admit ': 0.9}
{'_id': ObjectId('64e333923af1d4d84814adbd'), 'Serial No.': 7, 'GRE Score': 321, 'TOEFL Score': 109, 'University Rating': 3, 'SOP': 3.0, 'LOR ': 4.0, 'CGPA': 8.2, 'Research': 1, 'Chance of Admit ': 0.75}
{'_id': ObjectId('64e333923af1d4d84814adbe'), 'Serial No.': 8, 'GRE Score': 308, 'TOEFL Score': 101, 'University Rating': 2, 'SOP': 3.0, 'LOR ': 4.0, 'CGPA': 7.9, 'Research': 0, 'Chance of Admit ': 0.68}
{'_id': ObjectId('64e333923af1d4d84814adbf'), 'Serial No.': 9, 'GRE Score': 302, 'TOEFL Score': 102, 'University Rating': 1, 'SOP': 2.0, 'LOR ': 1.5, 'CGPA': 8.0, 'Research': 0, 'Chance of Admit ': 0.5}
{'_id': ObjectId('64e333923af1d4d84814adc0'), 'Serial No.': 10, 'GRE Score': 323, 'TOEFL Score': 108, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 3.0, 'CGPA': 8.6, 'Research': 0, 'Chance of Admit ': 0.45}
{'_id': ObjectId('64e333923af1d4d84814adc1'), 'Serial No.': 11, 'GRE Score': 325, 'TOEFL Score': 106, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 4.0, 'CGPA': 8.4, 'Research': 1, 'Chance of Admit ': 0.52}
{'_id': ObjectId('64e333923af1d4d84814adc2'), 'Serial No.': 12, 'GRE Score': 327, 'TOEFL Score': 111, 'University Rating': 4, 'SOP': 4.0, 'LOR ': 4.5, 'CGPA': 9.0, 'Research': 1, 'Chance of Admit ': 0.84}
{'_id': ObjectId('64e333923af1d4d84814adc3'), 'Serial No.': 13, 'GRE Score': 328, 'TOEFL Score': 112, 'University Rating': 4, 'SOP': 4.0, 'LOR ': 4.5, 'CGPA': 9.1, 'Research': 1, 'Chance of Admit ': 0.78}
{'_id': ObjectId('64e333923af1d4d84814adc4'), 'Serial No.': 14, 'GRE Score': 307, 'TOEFL Score': 109, 'University Rating': 3, 'SOP': 4.0, 'LOR ': 3.0, 'CGPA': 8.0, 'Research': 1, 'Chance of Admit ': 0.62}
{'_id': ObjectId('64e333923af1d4d84814adc5'), 'Serial No.': 15, 'GRE Score': 311, 'TOEFL Score': 104, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 2.0, 'CGPA': 8.2, 'Research': 1, 'Chance of Admit ': 0.61}
{'_id': ObjectId('64e333923af1d4d84814adc6'), 'Serial No.': 16, 'GRE Score': 314, 'TOEFL Score': 105, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 2.5, 'CGPA': 8.3, 'Research': 0, 'Chance of Admit ': 0.54}
{'_id': ObjectId('64e333923af1d4d84814adc7'), 'Serial No.': 17, 'GRE Score': 317, 'TOEFL Score': 107, 'University Rating': 3, 'SOP': 4.0, 'LOR ': 3.0, 'CGPA': 8.7, 'Research': 0, 'Chance of Admit ': 0.66}
{'_id': ObjectId('64e333923af1d4d84814adc8'), 'Serial No.': 18, 'GRE Score': 319, 'TOEFL Score': 106, 'University Rating': 3, 'SOP': 4.0, 'LOR ': 3.0, 'CGPA': 8.0, 'Research': 1, 'Chance of Admit ': 0.65}
{'_id': ObjectId('64e333923af1d4d84814adc9'), 'Serial No.': 19, 'GRE Score': 318, 'TOEFL Score': 110, 'University Rating': 3, 'SOP': 4.0, 'LOR ': 3.0, 'CGPA': 8.8, 'Research': 0, 'Chance of Admit ': 0.63}
{'_id': ObjectId('64e333923af1d4d84814adca'), 'Serial No.': 20, 'GRE Score': 303, 'TOEFL Score': 102, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 3.0, 'CGPA': 8.5, 'Research': 0, 'Chance of Admit ': 0.62}

In [18]:
my_query = {'Chance of Admit ':{"$gt": 0.95}}
result = collection.find(my_query).sort("Chance of Admit").limit(5)
for i in result:
    print(i)

{'_id': ObjectId('64e333923af1d4d84814ae39'), 'Serial No.': 131, 'GRE Score': 339, 'TOEFL Score': 114, 'University Rating': 5, 'SOP': 4.0, 'LOR ': 4.5, 'CGPA': 9.76, 'Research': 1, 'Chance of Admit ': 0.96}
{'_id': ObjectId('64e333923af1d4d84814ae46'), 'Serial No.': 144, 'GRE Score': 340, 'TOEFL Score': 120, 'University Rating': 4, 'SOP': 4.5, 'LOR ': 4.0, 'CGPA': 9.92, 'Research': 1, 'Chance of Admit ': 0.97}
{'_id': ObjectId('64e333923af1d4d84814adfe'), 'Serial No.': 72, 'GRE Score': 336, 'TOEFL Score': 112, 'University Rating': 5, 'SOP': 5.0, 'LOR ': 5.0, 'CGPA': 9.76, 'Research': 1, 'Chance of Admit ': 0.96}
{'_id': ObjectId('64e333923af1d4d84814adcf'), 'Serial No.': 25, 'GRE Score': 336, 'TOEFL Score': 119, 'University Rating': 5, 'SOP': 4.0, 'LOR ': 3.5, 'CGPA': 9.8, 'Research': 1, 'Chance of Admit ': 0.97}
{'_id': ObjectId('64e333923af1d4d84814ae08'), 'Serial No.': 82, 'GRE Score': 340, 'TOEFL Score': 120, 'University Rating': 4, 'SOP': 5.0, 'LOR ': 5.0, 'CGPA': 9.5, 'Research': 1, 'Chance of Admit ': 0.96}