In [1]:
# importing library

import pymongo

In [2]:
# making connnection to db at mongodbatlas 
dbconn = pymongo.MongoClient("mongodb+srv://adivarpe:akshu#1345@cluster0.aqutadm.mongodb.net/")

In [3]:
# task is  dumb dataframe to mongodb atlas

In [4]:
# lets make database 
dbname = "addmisson"

db = dbconn[dbname]

In [5]:
# make colletion 
collection_name = "details"

collection =  db[collection_name]

In [6]:
# lets load datframe 
import pandas as pd

In [7]:
url = "https://raw.githubusercontent.com/vigneshk/Admission-Dataset/master/Admission.csv"
df = pd.read_csv(url)

In [8]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [9]:
data_dict = df.to_dict(orient="records")
collection.insert_many(data_dict)

In [10]:
result = collection.find({}).limit(20)
for i in result:
    print(i)

{'_id': ObjectId('64e333923af1d4d84814adbd'), 'Serial No.': 7, 'GRE Score': 321, 'TOEFL Score': 109, 'University Rating': 3, 'SOP': 3.0, 'LOR ': 4.0, 'CGPA': 8.2, 'Research': 1, 'Chance of Admit ': 0.75}
{'_id': ObjectId('64e333923af1d4d84814adca'), 'Serial No.': 20, 'GRE Score': 303, 'TOEFL Score': 102, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 3.0, 'CGPA': 8.5, 'Research': 0, 'Chance of Admit ': 0.62}
{'_id': ObjectId('64e333923af1d4d84814add4'), 'Serial No.': 30, 'GRE Score': 310, 'TOEFL Score': 99, 'University Rating': 2, 'SOP': 1.5, 'LOR ': 2.0, 'CGPA': 7.3, 'Research': 0, 'Chance of Admit ': 0.54}
{'_id': ObjectId('64e333923af1d4d84814add5'), 'Serial No.': 31, 'GRE Score': 300, 'TOEFL Score': 97, 'University Rating': 2, 'SOP': 3.0, 'LOR ': 3.0, 'CGPA': 8.1, 'Research': 1, 'Chance of Admit ': 0.65}
{'_id': ObjectId('64e333923af1d4d84814adbb'), 'Serial No.': 5, 'GRE Score': 314, 'TOEFL Score': 103, 'University Rating': 2, 'SOP': 2.0, 'LOR ': 3.0, 'CGPA': 8.21, 'Research': 0, 'Chance of Admit ': 0.65}
{'_id': ObjectId('64e333923af1d4d84814ade8'), 'Serial No.': 50, 'GRE Score': 327, 'TOEFL Score': 111, 'University Rating': 4, 'SOP': 3.0, 'LOR ': 4.0, 'CGPA': 8.4, 'Research': 1, 'Chance of Admit ': 0.78}
{'_id': ObjectId('64e333923af1d4d84814adfb'), 'Serial No.': 69, 'GRE Score': 318, 'TOEFL Score': 109, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 4.0, 'CGPA': 9.22, 'Research': 1, 'Chance of Admit ': 0.68}
{'_id': ObjectId('64e333923af1d4d84814adfc'), 'Serial No.': 70, 'GRE Score': 328, 'TOEFL Score': 115, 'University Rating': 4, 'SOP': 4.5, 'LOR ': 4.0, 'CGPA': 9.16, 'Research': 1, 'Chance of Admit ': 0.78}
{'_id': ObjectId('64e333923af1d4d84814ae07'), 'Serial No.': 81, 'GRE Score': 312, 'TOEFL Score': 105, 'University Rating': 3, 'SOP': 2.0, 'LOR ': 3.0, 'CGPA': 8.02, 'Research': 1, 'Chance of Admit ': 0.5}
{'_id': ObjectId('64e333923af1d4d84814ae08'), 'Serial No.': 82, 'GRE Score': 340, 'TOEFL Score': 120, 'University Rating': 4, 'SOP': 5.0, 'LOR ': 5.0, 'CGPA': 9.5, 'Research': 1, 'Chance of Admit ': 0.96}
{'_id': ObjectId('64e333923af1d4d84814ae0a'), 'Serial No.': 84, 'GRE Score': 322, 'TOEFL Score': 115, 'University Rating': 5, 'SOP': 4.0, 'LOR ': 4.5, 'CGPA': 9.36, 'Research': 1, 'Chance of Admit ': 0.92}
{'_id': ObjectId('64e333923af1d4d84814ae11'), 'Serial No.': 91, 'GRE Score': 318, 'TOEFL Score': 106, 'University Rating': 2, 'SOP': 4.0, 'LOR ': 4.0, 'CGPA': 7.92, 'Research': 1, 'Chance of Admit ': 0.64}
{'_id': ObjectId('64e333923af1d4d84814ae1c'), 'Serial No.': 102, 'GRE Score': 312, 'TOEFL Score': 105, 'University Rating': 2, 'SOP': 2.5, 'LOR ': 3.0, 'CGPA': 8.12, 'Research': 0, 'Chance of Admit ': 0.64}
{'_id': ObjectId('64e333923af1d4d84814ae23'), 'Serial No.': 109, 'GRE Score': 331, 'TOEFL Score': 116, 'University Rating': 5, 'SOP': 5.0, 'LOR ': 5.0, 'CGPA': 9.38, 'Research': 1, 'Chance of Admit ': 0.93}
{'_id': ObjectId('64e333923af1d4d84814ae47'), 'Serial No.': 145, 'GRE Score': 325, 'TOEFL Score': 112, 'University Rating': 2, 'SOP': 3.0, 'LOR ': 3.5, 'CGPA': 8.96, 'Research': 1, 'Chance of Admit ': 0.8}
{'_id': ObjectId('64e333923af1d4d84814ae5f'), 'Serial No.': 169, 'GRE Score': 293, 'TOEFL Score': 97, 'University Rating': 2, 'SOP': 2.0, 'LOR ': 4.0, 'CGPA': 7.8, 'Research': 1, 'Chance of Admit ': 0.64}
{'_id': ObjectId('64e333923af1d4d84814ae6d'), 'Serial No.': 183, 'GRE Score': 299, 'TOEFL Score': 100, 'University Rating': 2, 'SOP': 3.0, 'LOR ': 3.5, 'CGPA': 7.88, 'Research': 0, 'Chance of Admit ': 0.68}
{'_id': ObjectId('64e333923af1d4d84814ae70'), 'Serial No.': 186, 'GRE Score': 327, 'TOEFL Score': 113, 'University Rating': 4, 'SOP': 4.5, 'LOR ': 4.5, 'CGPA': 9.11, 'Research': 1, 'Chance of Admit ': 0.89}
{'_id': ObjectId('64e333923af1d4d84814ae71'), 'Serial No.': 187, 'GRE Score': 317, 'TOEFL Score': 107, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 3.0, 'CGPA': 8.68, 'Research': 1, 'Chance of Admit ': 0.84}
{'_id': ObjectId('64e333923af1d4d84814ae94'), 'Serial No.': 222, 'GRE Score': 316, 'TOEFL Score': 110, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 4.0, 'CGPA': 8.56, 'Research': 0, 'Chance of Admit ': 0.75}

In [11]:
my_query = {'Chance of Admit ':{"$gt": 0.95}}
result = collection.find(my_query).sort("Chance of Admit").limit(5)
for i in result:
    print(i)

{'_id': ObjectId('64e333923af1d4d84814ae39'), 'Serial No.': 131, 'GRE Score': 339, 'TOEFL Score': 114, 'University Rating': 5, 'SOP': 4.0, 'LOR ': 4.5, 'CGPA': 9.76, 'Research': 1, 'Chance of Admit ': 0.96}
{'_id': ObjectId('64e333923af1d4d84814adfe'), 'Serial No.': 72, 'GRE Score': 336, 'TOEFL Score': 112, 'University Rating': 5, 'SOP': 5.0, 'LOR ': 5.0, 'CGPA': 9.76, 'Research': 1, 'Chance of Admit ': 0.96}
{'_id': ObjectId('64e333923af1d4d84814af38'), 'Serial No.': 386, 'GRE Score': 335, 'TOEFL Score': 117, 'University Rating': 5, 'SOP': 5.0, 'LOR ': 5.0, 'CGPA': 9.82, 'Research': 1, 'Chance of Admit ': 0.96}
{'_id': ObjectId('64e333923af1d4d84814ae08'), 'Serial No.': 82, 'GRE Score': 340, 'TOEFL Score': 120, 'University Rating': 4, 'SOP': 5.0, 'LOR ': 5.0, 'CGPA': 9.5, 'Research': 1, 'Chance of Admit ': 0.96}
{'_id': ObjectId('64e333923af1d4d84814adcf'), 'Serial No.': 25, 'GRE Score': 336, 'TOEFL Score': 119, 'University Rating': 5, 'SOP': 4.0, 'LOR ': 3.5, 'CGPA': 9.8, 'Research': 1, 'Chance of Admit ': 0.97}