In [177]:
import pymongo

In [178]:
#  lets connnect mongodb
dbconn = pymongo.MongoClient("mongodb://localhost:27017/")

In [179]:
dbname = "pratical"

In [180]:
# lest crete new db
db = dbconn[dbname]

In [181]:
# to get list of database 
dbconn.list_database_names()

['admin', 'config', 'demo', 'local', 'pratical']

In [182]:
# lets make collectio name 
collection_name = "demo_collection"

In [183]:
collection = db[collection_name]

In [184]:
data = {"Serial No" : "007",
"GRE score" : "337",
"TOEFL Score": "118",
"University Rating" : "4",
"SOP": "4.5",
"CGPA": "9.65",
"Research": "1",
"Chance of Admit":"9998"
}

In [185]:
col = collection.insert_one(data)

In [186]:
col.inserted_id

ObjectId('64e2575f85459efe75b310f2')

In [187]:
rec = collection.find()

In [188]:
   rec

In [189]:
for i in rec:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e5'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2006185459efe75b310e7'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2006185459efe75b310e8'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2021d85459efe75b310eb'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2021d85459efe75b310ec'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2211685459efe75b310ef'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2211685459efe75b310f0'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2575f85459efe75b310f2'), 'Serial No': '007', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '9998'}

In [190]:
# now we have to insert many record at once0
# for that we have to make one list 

data = [
   {"Serial No" : "005",
"GRE score" : "338",
"TOEFL Score": "108",
"University Rating" : "8",
"SOP": "4.8",
"CGPA": "8.65",
"Research": "0",
"Chance of Admit":"90"
},
{"Serial No" : "009",
"GRE score" : "454",
"TOEFL Score": "147",
"University Rating" : "14",
"SOP": "4.8",
"CGPA": "9.01",
"Research": "3",
"Chance of Admit":"86.69"
} 
    
]

In [191]:
data

[{'Serial No': '005',
  'GRE score': '338',
  'TOEFL Score': '108',
  'University Rating': '8',
  'SOP': '4.8',
  'CGPA': '8.65',
  'Research': '0',
  'Chance of Admit': '90'},
 {'Serial No': '009',
  'GRE score': '454',
  'TOEFL Score': '147',
  'University Rating': '14',
  'SOP': '4.8',
  'CGPA': '9.01',
  'Research': '3',
  'Chance of Admit': '86.69'}]

In [192]:
rec = collection.insert_many(data)

In [193]:
res = collection.find()

In [194]:
for i in res:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e5'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2006185459efe75b310e7'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2006185459efe75b310e8'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2021d85459efe75b310eb'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2021d85459efe75b310ec'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2211685459efe75b310ef'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2211685459efe75b310f0'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2575f85459efe75b310f2'), 'Serial No': '007', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '9998'}
{'_id': ObjectId('64e2575f85459efe75b310f3'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '108', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2575f85459efe75b310f4'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '147', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}

In [195]:
result = collection.find({})

In [196]:
result[2]

{'_id': ObjectId('64e2006185459efe75b310e7'),
 'Serial No': '005',
 'GRE score': '338',
 'TOEFL Score': '150',
 'University Rating': '8',
 'SOP': '4.8',
 'CGPA': '8.65',
 'Research': '0',
 'Chance of Admit': '90'}

In [197]:
# lets set limit to our

result_total = collection.find({}).limit(3)

In [198]:
for i in result_total:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e5'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2006185459efe75b310e7'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}

In [199]:
# getting specific data 
# lets get GRE score' and  "TOEFL Score"

In [200]:
result = collection.find({},{"GRE score","TOEFL Score"})

In [201]:
for i in result:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e5'), 'GRE score': '338', 'TOEFL Score': '150'}
{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'GRE score': '454', 'TOEFL Score': '150'}
{'_id': ObjectId('64e2006185459efe75b310e7'), 'GRE score': '338', 'TOEFL Score': '150'}
{'_id': ObjectId('64e2006185459efe75b310e8'), 'GRE score': '454', 'TOEFL Score': '150'}
{'_id': ObjectId('64e2021d85459efe75b310eb'), 'GRE score': '338', 'TOEFL Score': '150'}
{'_id': ObjectId('64e2021d85459efe75b310ec'), 'GRE score': '454', 'TOEFL Score': '150'}
{'_id': ObjectId('64e2211685459efe75b310ef'), 'GRE score': '338', 'TOEFL Score': '150'}
{'_id': ObjectId('64e2211685459efe75b310f0'), 'GRE score': '454', 'TOEFL Score': '150'}
{'_id': ObjectId('64e2575f85459efe75b310f2'), 'GRE score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('64e2575f85459efe75b310f3'), 'GRE score': '338', 'TOEFL Score': '108'}
{'_id': ObjectId('64e2575f85459efe75b310f4'), 'GRE score': '454', 'TOEFL Score': '147'}

In [202]:
result = collection.find({},{'CGPA','University Rating'})

In [203]:
for i in result:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e5'), 'University Rating': '8', 'CGPA': '8.65'}
{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'University Rating': '14', 'CGPA': '9.01'}
{'_id': ObjectId('64e2006185459efe75b310e7'), 'University Rating': '8', 'CGPA': '8.65'}
{'_id': ObjectId('64e2006185459efe75b310e8'), 'University Rating': '14', 'CGPA': '9.01'}
{'_id': ObjectId('64e2021d85459efe75b310eb'), 'University Rating': '8', 'CGPA': '8.65'}
{'_id': ObjectId('64e2021d85459efe75b310ec'), 'University Rating': '14', 'CGPA': '9.01'}
{'_id': ObjectId('64e2211685459efe75b310ef'), 'University Rating': '8', 'CGPA': '8.65'}
{'_id': ObjectId('64e2211685459efe75b310f0'), 'University Rating': '14', 'CGPA': '9.01'}
{'_id': ObjectId('64e2575f85459efe75b310f2'), 'University Rating': '4', 'CGPA': '9.65'}
{'_id': ObjectId('64e2575f85459efe75b310f3'), 'University Rating': '8', 'CGPA': '8.65'}
{'_id': ObjectId('64e2575f85459efe75b310f4'), 'University Rating': '14', 'CGPA': '9.01'}

In [204]:
# if you want to find inly 5 records 
result = collection.find({}).limit(5)

In [205]:
for i in result:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e5'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2006185459efe75b310e7'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2006185459efe75b310e8'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2021d85459efe75b310eb'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}

In [206]:
# find specific query

my_query = {"GRE score": "454"}

result = collection.find(my_query)

for i in result:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2006185459efe75b310e8'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2021d85459efe75b310ec'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2211685459efe75b310f0'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2575f85459efe75b310f4'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '147', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}

In [207]:
# leta us e filt er 

# $gt graeter than 
# $lt less than


# lets try 
my_query = {"GRE score":{"$gt":"350"}}

gre_q = collection.find(my_query)

for i in gre_q:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2006185459efe75b310e8'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2021d85459efe75b310ec'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2211685459efe75b310f0'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2575f85459efe75b310f4'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '147', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}

In [208]:
# now try $lt query
my_query = {"GRE score":{"$lt":"350"}}

gre_q = collection.find(my_query)

for i in gre_q:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e5'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2006185459efe75b310e7'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2021d85459efe75b310eb'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2211685459efe75b310ef'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2575f85459efe75b310f2'), 'Serial No': '007', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '9998'}
{'_id': ObjectId('64e2575f85459efe75b310f3'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '108', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}

lets do sorting

In [209]:
# lets do sorting

sorted_data = collection.find().sort("GRE score")
for i in sorted_data:
    print(i)

{'_id': ObjectId('64e2575f85459efe75b310f2'), 'Serial No': '007', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '9998'}
{'_id': ObjectId('64e1fa8585459efe75b310e5'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2006185459efe75b310e7'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2021d85459efe75b310eb'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2211685459efe75b310ef'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2575f85459efe75b310f3'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '108', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2006185459efe75b310e8'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2021d85459efe75b310ec'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2211685459efe75b310f0'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2575f85459efe75b310f4'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '147', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}

In [210]:
# if  we want in decendinfg order 

sorted_data = collection.find().sort("GRE score",-1)
for i in sorted_data:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2006185459efe75b310e8'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2021d85459efe75b310ec'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2211685459efe75b310f0'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2575f85459efe75b310f4'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '147', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e1fa8585459efe75b310e5'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2006185459efe75b310e7'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2021d85459efe75b310eb'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2211685459efe75b310ef'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2575f85459efe75b310f3'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '108', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2575f85459efe75b310f2'), 'Serial No': '007', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '9998'}

In [211]:
# deleting singlee row


del_query = {'TOEFL Score': '118'}

del_q = collection.delete_one(del_query)

In [212]:
del_q.deleted_count

1

In [213]:
# deleting multipal rows

del_query = {'TOEFL Score': '118'}

del_q = collection.delete_many(del_query)

In [214]:
del_q.deleted_count

0

In [215]:
# lets update value 
query = {"TOEFL Score": "108"}
update_query = {"$set":{"TOEFL Score": "150"}}

In [216]:
x = collection.update_many(query,update_query)

In [217]:
x.modified_count

1

In [218]:
result = collection.find()
for i in result:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e5'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2006185459efe75b310e7'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2006185459efe75b310e8'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2021d85459efe75b310eb'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2021d85459efe75b310ec'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2211685459efe75b310ef'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2211685459efe75b310f0'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2575f85459efe75b310f3'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2575f85459efe75b310f4'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '147', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}

In [219]:
query = {'GRE score': '456'}
update_q = {"$set":{'GRE score': '455'}}

In [220]:
x = collection.update_many(query,update_query)

In [221]:
x.modified_count

0

In [222]:
result = collection.find()
for i in result:
    print(i)

{'_id': ObjectId('64e1fa8585459efe75b310e5'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e1fa8585459efe75b310e6'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2006185459efe75b310e7'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2006185459efe75b310e8'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2021d85459efe75b310eb'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2021d85459efe75b310ec'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2211685459efe75b310ef'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2211685459efe75b310f0'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '150', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}
{'_id': ObjectId('64e2575f85459efe75b310f3'), 'Serial No': '005', 'GRE score': '338', 'TOEFL Score': '150', 'University Rating': '8', 'SOP': '4.8', 'CGPA': '8.65', 'Research': '0', 'Chance of Admit': '90'}
{'_id': ObjectId('64e2575f85459efe75b310f4'), 'Serial No': '009', 'GRE score': '454', 'TOEFL Score': '147', 'University Rating': '14', 'SOP': '4.8', 'CGPA': '9.01', 'Research': '3', 'Chance of Admit': '86.69'}

In [224]:
# lets create  another colletion in same db

collection_name1 = "demo_colletion"
collection1 = db[collection_name1]

In [227]:
dbconn.list_database_names()

['admin', 'config', 'demo', 'local', 'pratical']

In [230]:
collection1.insert_one({
    "name" : "aditya",
    "last_name":"varpe",
    "address" : "pune"
    })

In [231]:
result = collection1.find()
for i in result:
    print(i)

{'_id': ObjectId('64e2581685459efe75b310f5'), 'name': 'aditya', 'last_name': 'varpe', 'address': 'pune'}

In [233]:
collection1.drop()

In [244]:
dbconn.drop_database("demo")